h2 {
    text-align: center;
}

body {
    background: #F8FAFC;
}

.container {
    width: 444px;
    height: 537px;
    margin: 20px auto;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 0;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
}

#logout-btn {
    width: 352px;
    height: 55.804px;
    padding: 9px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
    outline: none;
    border: none;
    color: #FFF;
    margin-top: 20px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    /* 112.5% */
    text-transform: uppercase;
    cursor: pointer;
}

.signup>p {
    line-height: 1px;
}

@media (max-width:480px) {
    .container {
        padding: 10px 20px;
        justify-content: center;
        width: 297px;
       margin-top: 40px;
    }
    #logout-btn{
        width: 278.523px;
        height: 48.114px;
    }

}