* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --text-color: #333333;
    --background-color: #F8FAFC;
    --button-color: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
    --error-color: #625BF7;

}

.container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #F8FAFC;
    /* flex-direction: column; */
}

.singup-container {

    height: 537px;
    background-color: #FFF;
    padding: 30px 46px 0 46px;
    border-radius: 4px;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
}

label {
    display: block;
    color: var(--text-color);
    margin: 6px 0;
}

input {
    display: block;
    width: 352px;
    height: 36px;
    padding: 0px 12px;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    outline: none;

    border-radius: 6px;
    border: 1px solid #DEDEDE;

}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

#btn {
    width: 378px;
    height: 55.804px;
    padding: 9px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--button-color);
    border: none;
    border-radius: 6px;
    margin: 15px 0;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.error-message {
    margin: 20px 0;
    color: var(--error-color);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.account {
    text-align: center;
    margin-top: -30px;
    color: #333;
    text-align: center;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.account>span {
    color: #625BF7;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width:480px) {
    .container {
        padding: 0 20px;
        justify-content: center;
    }

    .singup-container {
        width: 414px;
        padding: 7px 36px 7px 30px
    }
    

    input {
        width: 250.523px;
        height: 31.039px;
        padding: 0px 12px;
        align-items: flex-start;
        gap: 12px;
        flex-shrink: 0;

    }
    #btn{
        width: 278.523px;
        height: 48.114px;
    }
    .error-message{
        display: none;
    }
}